*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}
img{
    width: 200px;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    gap: 32px;
}
.title{
    font-size: 40px;
    font-weight: 900;
}
#game-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
#paper,
#rock,
#scissors{
    border: 2px white solid;
}
#paper-btn,
#rock-btn,
#scissors-btn{
    width: 200px;
    padding: 16px 0;
    font-size: 32px;
    background-color: black;
    color: white;
    border: 2px white solid;
    font-weight: 900;
}
#paper-btn:hover,
#rock-btn:hover,
#scissors-btn:hover{
    cursor: pointer;
}
#paper-btn:active,
#rock-btn:active,
#scissors-btn:active{
    cursor: grab;
    color: gray;
    animation-play-state: all 1s;
}
#result{
    font-weight: 900;
    text-align: center;
    font-size: 2em;
}
#restart{
    background-color: black;
    border: 2px white solid;
    font-size: 32px;
    width: 638px;
    font-weight: 900;
}
#score{
    font-weight: 900;
    text-align: center;
    font-size: 2em;
    line-height: 32px;
}